{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=TaskManagementSystem_Dev;Username=postgres;Password=0977452762Viet;Include Error Detail=true"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  },
  "JwtTokenSettings": {
    "Key": "bXlfc2VjdXJlX2p3dF9rZXlfMTI4IQ==",
    "Issuer": "https://taskmanagement.stemhouse.com/",
    "ExpireInHours": "48"
}
