{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=TaskManagement_Dev;Username=postgres;Password=postgres"
  },
  
  "JwtSettings": {
    "Secret": "DEVELOPMENT_SECRET_KEY_CHANGE_IN_PRODUCTION_MINIMUM_32_CHARS",
    "Issuer": "TaskManagementSystem-Dev",
    "Audience": "TaskManagementSystem-Dev",
    "AccessTokenExpirationMinutes": 120,
    "RefreshTokenExpirationDays": 30
  }
}
